:root {
  --bg-color: lightgreen;
  --font-weight_normal: 700;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
  padding: 10px;
  margin: 10px;
  background-color: var(--bg-color);
  font: normal normal 13px/16px "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight_normal);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight_normal);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight_normal);
}

.page-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;
}

form {
  display: inline-block;
}

input {
  padding: 4px 15px 4px 5px;
}

#button {
  display: inline-block;
  background-color: #fc999b;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
}

ol li:
nth-child(even) {
  background: #dfdfdf;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}
